body
    font-size 14px

details.faq
    border-left 0.5rem solid rgb(0, 150, 0)
    background-color: rgba(0,150,0,0.2)
    padding: 1rem
    margin-bottom: 1rem

details.faq summary
        font-size: large
        font-weight: 600